.mb50 {
  margin-bottom: 50px;
}

.left-line {
  position: absolute;
  width: 148px;
  height: 0px;
  left: 20px;
  top: 8px;

  border: 1px solid #e1e8f3;
}

.right-line {
  position: absolute;
  width: 148px;
  height: 0px;
  right: 20px;
  top: 8px;

  border: 1px solid #e1e8f3;
}
