.header-content{
  padding-top: 40px;
  align-items: center !important; 
  justify-content: center !important;
  width: 100%;
}

.custom-header{
  height: 120px
}


.header-link-container{
  display: flex;
  justify-content: space-evenly;
}